<div class="po-wrapper">  
    <po-toolbar p-title="Dalton Tools" [p-show-notification]="false"></po-toolbar>   
    <po-page-default>  
        <div class="po-row">
            <po-widget
                class="po-lg-4 po-mt-2"
                p-background="./assets/bkg/bkg-totvs.png"
                [p-height]="200"
                [p-primary]="true"
                p-title="Totvs - TDN"
                (p-click)="openTab('https://tdn.totvs.com/display/public/LDT/TOTVS+Linha+Datasul')">
            </po-widget>
            <po-widget
                class="po-lg-4 po-mt-2"
                p-background="./assets/bkg/bkg-neo.png"
                [p-height]="200"
                [p-primary]="false"
                p-title="NeoGrid"
                (p-click)="openTab('https://arqlogindev.b2clogin.com/arqlogindev.onmicrosoft.com/b2c_1_ndd_prd/oauth2/v2.0/authorize?client_id=a4b61e58-0847-4061-a391-9ae3ec3e3481&redirect_uri=https%3A%2F%2Fportalmonitoramentototvs.fiscalneogrid.com%2Fcore%2Fauth%2Fpost-login&response_type=id_token%20token&scope=openid%20https%3A%2F%2Farqlogindev.onmicrosoft.com%2Fndd-platform-api%2Fuser_impersonation&state=c9a3478919a8495c9417f40f9c6b157b&nonce=332a4d90d4464911928abe1088a43868&ui_locales=pt-BR')">
            </po-widget>
            <po-widget
                class="po-lg-4 po-mt-2"
                p-background="./assets/bkg/bkg-salesforce.png"
                [p-height]="200"
                [p-primary]="true"
                p-title="SalesForce"
                (p-click)="openTab('https://login.salesforce.com/')">
            </po-widget>
        </div>
        <div class="po-row">
            <po-widget
                class="po-lg-4 po-mt-2"
                p-background="./assets/bkg/bkg-bi.png"
                [p-height]="200"
                [p-primary]="true"
                p-title="Qlik - Desenv"
                (p-click)="openTab('https://tuper.us.qlikcloud.com/sense/app/7bfa53be-cc85-4c48-9b4c-b2707cbcf3b8/overview')">
            </po-widget>
            <po-widget
                class="po-lg-4 po-mt-2"
                p-background="./assets/bkg/bkg-fusion.png"
                [p-height]="200"
                [p-primary]="true"
                p-title="Fusion"
                (p-click)="openTab('http://ecm.tuper.com.br/fusion/portal/action/Login/view/normal')">
            </po-widget>
            <po-widget
                class="po-lg-4 po-mt-2"
                p-background="./assets/bkg/bkg-po.png"
                [p-height]="200"
                [p-primary]="false"
                p-title="PO-UI"
                (p-click)="openTab('https://po-ui.io/documentation')">
            </po-widget>
        </div>
        <div class="po-row">
            <po-widget
                class="po-lg-4 po-mt-2"
                p-background="./assets/bkg/bkg-totvs.png"
                [p-height]="200"
                [p-primary]="true"
                p-title="Totvs - Abertura FO"
                (p-click)="openTab('https://totvscst.zendesk.com/hc/pt-br#solicitacoes')">
            </po-widget>
            <po-widget
                class="po-lg-4 po-mt-2"
                p-background="./assets/bkg/bkg-tuper.png"
                [p-height]="200"
                [p-primary]="false"
                p-title="Tuper - WIKI"
                (p-click)="openTab('http://wiki.tuper.com.br/tuperwiki/index.php/P%C3%A1gina_principal')">
            </po-widget>
            <po-widget
                class="po-lg-4 po-mt-2"
                p-background="./assets/bkg/bkg-drive.png"
                [p-height]="200"
                [p-primary]="false"
                p-title="TIC - Google Drive"
                (p-click)="openTab('https://drive.google.com/drive/folders/0ALbLblxYABJYUk9PVA')">
            </po-widget>
        </div>
        <div class="po-row">
            <po-widget
                class="po-lg-4 po-mt-2"
                p-background="./assets/bkg/bkg-grafana.png"
                [p-height]="200"
                [p-primary]="true"
                p-title="Grafana"
                (p-click)="openTab('https://xcnj.myz.cloud/grafana/login')">
            </po-widget>
            <po-widget
                class="po-lg-4 po-mt-2"
                p-background="./assets/bkg/bkg-ocs.png"
                [p-height]="200"
                [p-primary]="false"
                p-title="OCS - Inventory"
                (p-click)="openTab('http://sbs-linux-ocs01/ocsreports/index.php?function=computer&head=1&systemid=37066')">
            </po-widget>
            <po-widget
                class="po-lg-4 po-mt-2"
                p-background="./assets/bkg/bkg-tuper.png"
                [p-height]="200"
                [p-primary]="false"
                p-title="Tuper - HelpDesk"
                (p-click)="openTab('https://helpdesk.tuper.com.br/helpdesk/atendimento/solicita_consulta.php?COD_STATUS=1')">
            </po-widget>
        </div>
    </po-page-default>
</div>
